<!DOCTYPE html>

<html>
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.38.1/dist/skin-{{ skin }}/ui.fancytree.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/jquery.fancytree-all-deps.min.js"></script>

	<script type="text/javascript">
		$(function(){
			// using default options
                $("#tree").fancytree({
                        checkbox: false,
                        source: {{ tree }}
                });
		});
	</script>
</head>
<body>
	<div id="tree"></div>
</body>
</html>
