name: ziptree-ci
on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint(py${{ matrix.python }})
    strategy:
      matrix:
        python:
          - 3.6
          - 3.7
          - 3.8
          - 3.9

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: pip install -r test-requirements.txt

      - name: Run syntax test
        run: tox -e `echo py${{ matrix.python }} | sed 's/\.//g'`-lint

  unit:
    runs-on: ubuntu-latest
    name: Unit(py${{ matrix.python }})
    strategy:
      matrix:
        python:
          - 3.6
          - 3.7
          - 3.8
          - 3.9

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: pip install -r test-requirements.txt

      - name: Run unit test
        run: tox -e `echo py${{ matrix.python }} | sed 's/\.//g'`-unit
